* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */

/* header top */

.header_top {
    padding: 8px;
}

.logo_sony {
    width: 50px;
    max-width: 100px;
}

/* header bottom */

.header_bottom {
    margin-top: 20px;
}

/* regole Jumbotron */

.j_image {
    min-height: 400px;
}

/* section videogames */

.ms_videogames {
    margin: 20px 0;
}

.card_image {
    border-radius: 2px;
}

.v_image {
    border-radius: 30px;
}

.playstation_now {
    background-color: blue;
    margin: 30px 0;
    padding: 20px 0;
}

/* regole footer */

footer {
    background-color: blue;
}