* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */


.header_top {
    padding: 8px;
}

.logo_sony {
    width: 50px;
    max-width: 100px;
}


/* regole footer */

footer {
    background-color: blue;
}