* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* regole common */


/* regole header */

/* header top */

.header_top {
    padding: 8px;
}

.logo_sony {
    width: 50px;
    max-width: 100px;
}

/* header bottom */

.header_bottom {
    margin-top: 20px;
}

/* regole Jumbotron */

.j_image {
    min-height: 400px;
}

/* section videogames */

.ms_videogames {
    margin: 20px 0;
}

.v_image {
    border-radius: 20px;
}

/* playstation plus */

.playstation_plus {
    background-color: gray;
}


/* playstation now */

.playstation_now {
    background-color: blue;
    margin: 30px 0;
    padding: 20px 0;
}

/* regole footer */

footer {
    background-color: blue;
    padding: 100px 0;
}

.ms_size {
    width: 50px;
}

.ms_size_sie {
    width: 150px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}